<script src="https://cdn.dataforsyningen.dk/dawa/assets/dawa-autocomplete2/1.0.2/dawa-autocomplete2.min.js"></script>
<script src="https://cdn.dataforsyningen.dk/dawa/assets/dawa-autocomplete2/1.0.2/unfilled/dawa-autocomplete2.min.js"></script>
<link href="_content/DanishAddressComponent/DanishAddress.css" rel="stylesheet"/>
<script src="_content/DanishAddressComponent/DanishAddress.js"></script>

<div class="autocomplete-container">
    <input placeholder="@PlaceHolderText" type="search" id="@ComponentId" autocomplete="off">
</div>
